<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}
{% block title %}
  {{ page_obj.0.group.title }}
{% endblock %}
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1>{{ page_obj.0.group.title }}</h1>
    <p>
      {{ page_obj.0.group.description }}
    </p>

    {% for post in page_obj %}
      {% include 'posts/includes/posts_list.html' %}
      {% if post.group %}
        <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
      {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% include 'posts/includes/paginator.html' %}
  </div>  
{% endblock %}